.subscribe-form {
  margin: 1rem 0;
  padding: 0 1rem;
}

.subscribe-form label {
  font-weight: 700;
  display: block;
  margin-bottom: 0.5rem;
}

.subscribe-form input,
.subscribe-form button {
  width: 100%;
  padding: 1.25rem;
  border-radius: 0.5rem;
}

.subscribe-form input {
  border: 1px solid rgb(199, 199, 199);
}

.subscribe-form button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border: none;
  background-color: #242742;
  color: #fff;
  margin-top: 1.5rem;
}
.subscribe-form button:hover {
  background-color: #ff6155;
  box-shadow: 1px 8px 16px #ff6155;
}
