.subscribe-form {
  margin: 1rem 0;
  padding: 0 1rem;
}

.label-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.subscribe-form label,
.invalid-email-label {
  font-weight: 700;
}

.invalid-email-label {
  color: #ff6155;
}

.subscribe-form input,
.subscribe-form button {
  width: 100%;
  padding: 1.25rem;
  border-radius: 0.5rem;
}

.input-email {
  border: 1px solid rgb(199, 199, 199);
}
.invalid-email {
  border: 1px solid #ff5145;
  background-color: #ffdfdd;
}

.subscribe-form button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border: none;
  background-color: #242742;
  color: #fff;
  margin-top: 1.5rem;
}
.subscribe-form button:hover {
  background-color: #ff6155;
  box-shadow: 1px 8px 16px #ff6155;
}
