.confirmation {
  margin-top: 10rem;
}

.confirmation .checkmark {
  color: #ff6155;
  font-size: 4rem;
}

.confirmation-title {
  font-size: 2.25rem;
  margin: 2rem 0 1.5rem 0;
}

.dismiss-btn {
  cursor: pointer;
  font-weight: 700;
  width: 100%;
  background-color: #242742;
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
}
.dismiss-btn:hover {
  background-color: #ff6155;
}

@media (min-width: 820px) {
  .confirmation-title {
    font-size: 3.5rem;
  }

  .confirmation-description {
    margin-bottom: 2rem;
  }
}
